@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-bouncy {
        @apply active:scale-105
    }
    .btn-primary {
        @apply rounded-md border border-transparent drop-shadow-md shadow-sm bg-teal-600 py-3 px-8 text-center font-medium text-white tracking-wide hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-700 focus:ring-offset-2 transition duration-300 ease-out
    }
    .btn-secondary {
        @apply rounded-md border border-transparent drop-shadow-md shadow-sm bg-teal-400 py-3 px-8 text-center font-medium text-white tracking-wide hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-offset-gray-50 focus:ring-cyan-500 focus:ring-offset-2 transition duration-300 ease-out
    }

    .smooth-transition {
        @apply transition duration-300 ease-in-out
    }

    .input-primary-base {
        @apply p-2.5 mt-1 block w-full rounded-lg border shadow-sm focus:outline-none focus:ring-1 hover:ring-1 smooth-transition
    }
    .input-primary-valid {
        @apply input-primary-base bg-white/20 border-gray-400 text-gray-200 placeholder-gray-400 focus:border-cyan-500 focus:ring-cyan-500 hover:ring-cyan-500/[.55]
    }
    .input-primary-invalid {
        @apply input-primary-base border-red-500 bg-red-400/20 text-red-300 placeholder-red-400 hover:border-red-500 focus:ring-red-500 focus:border-red-500
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 30vh;
        background: #7a7a7a;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #525252;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #404040;
    }
}

@layer base {
    @font-face {
        font-family: MontserratRegular;
        font-weight: 400;
        src: url(./fonts/Montserrat-Regular.woff) format("woff");
    }
    @font-face {
        font-family: MontserratMedium;
        font-weight: 400;
        src: url(./fonts/Montserrat-Medium.woff) format("woff");
    }
    @font-face {
        font-family: MontserratBold;
        font-weight: 400;
        src: url(./fonts/Montserrat-Bold.woff) format("woff");
    }
}

body {
    @apply scrollbar
}